:root {
  --primary-color: rgb(238, 88, 34);
  --background: white;
  --gray: rgb(156, 152, 152);
  --dark: rgb(25, 36, 36);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* scroll-behavior: smooth; */
  scroll-behavior:auto;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(231, 227, 227);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.show-case {
  background: url("../img/back.jpeg") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.logo {
  height: 70px;
}

.btn {
  background-color: var(--primary-color);
  cursor: pointer;
  color: white;
  border: none;
  padding: 20px;
  text-transform: capitalize;
  border: 2px solid white;
}
.show-case-top {
  /* position: absolute; */
  height: 150px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.show-case-content {
  position: absolute;
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 10%; */
  z-index: 2;
  width: 100%;
  flex-direction: column;
  color: white;
  height: 80%;
}

.btn:hover {
  border: 1px solid var(--primary-color);
  font-weight: bold;
  
}

.btn-lg {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 7px;
}

.btn-round {
  border-radius: 7px;
}

#overlay {
  background-color: black;
  height: 78%;
  opacity: 0.7;
  -moz-opacity:0;
}

.services{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 233, 233);
}

.box{
  margin: 20px;
  border :5px solid white;
  display: flex;
  border-radius: 7px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.404);
}
.box-photo img{
  width: 100%;
  height: auto;
}
.box-photo{
  width: 30%;
}
.box-content{
  margin: 20px;
  width:70%;
}

.box-side{
  background-color: var(--primary-color);
  color: white;
  
}
.box-mid{
  background-color: var(--dark);
  color: white;
}
.offers{
  display: flex;
  background: url('../img/back2.jpeg') center center/cover no-repeat;
  width: 100%;
  height: 100vh;
  padding: 10%;
}

.offer-box{
  margin-top: 20px;
  background:rgb(29, 28, 28);
  color: white;
  padding: 20px;
  border:5px var(--dark) solid;
  border-radius: 7px;
  opacity: 0.9;
  height: 400px;
  margin: 20px;
  width: 30%;
  text-align: center;
}

.offer-name{
  text-transform: uppercase;
  font-size: 1.1rem;
}
.offer-price{
  font-size:2rem;
}

.contact-us{
  width: 100%;
  height: 100vh;
  display: flex;
  background: url('../img/back3.jpeg') no-repeat center center/cover;
  /* position: relative; */
}

.contact-text{
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bolder;
  font-size: 2em;
  width:50%;
  opacity: 0.5;
}
.contact-form{
  background-color: var(--primary-color);
  padding: 10%;
  width: 50%;
  color: white;
  border-bottom-right-radius: 300px;
}
input[type='text']{
  padding: 20px;
  width: 80%;
  
}

.contact-form textarea{
  width: 100%;
  margin-top:20px;
  padding:20px;
}
