:root {
  --primary-color: rgb(238, 88, 34);
  --background: white;
  --gray: rgb(156, 152, 152);
  --dark: rgb(25, 36, 36);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(231, 227, 227);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.show-case {
  background: url("../img/back.jpeg") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.logo {
  height: 70px;
}

.btn {
  background-color: var(--primary-color);
  cursor: pointer;
  color: white;
  border: none;
  padding: 20px;
  text-transform: capitalize;
  border: 2px solid white;
}
.mobile-btn {
  display: none;
}
.show-case-top {
  /* position: absolute; */
  height: 150px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.show-case-content {
  position: absolute;
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 10%; */
  z-index: 2;
  width: 100%;
  flex-direction: column;
  color: white;
  height: 80%;
}

.btn:hover {
  border: 1px solid var(--primary-color);
  font-weight: bold;
}

.btn-lg {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 7px;
}

.btn-round {
  border-radius: 7px;
}

#overlay {
  background-color: black;
  height: 78%;
  opacity: 0.7;
  -moz-opacity: 0;
}

.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: rgb(243, 233, 233);
}

.box {
  margin: 20px;
  border: 5px solid white;
  display: flex;
  border-radius: 7px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.404);
}
.box-photo img {
  width: 100%;
  height: auto;
}
.box-photo {
  width: 30%;
}
.box-content {
  margin: 20px;
  width: 70%;
}

.icon {
  display: none;
}

.box-side {
  background-color: var(--primary-color);
  color: white;
}
.box-mid {
  background-color: var(--dark);
  color: white;
}
.offers {
  display: flex;
  background: url("../img/back2.jpeg") center center/cover no-repeat;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
}

.offer-box {
  margin-top: 20px;
  background: rgb(29, 28, 28);
  color: white;
  padding: 20px;
  border: 5px var(--dark) solid;
  border-radius: 7px;
  opacity: 0.9;
  height: 400px;
  margin: 20px;
  width: 30%;
  text-align: center;
}

.offer-name {
  text-transform: uppercase;
  font-size: 1.1rem;
}
.offer-price {
  font-size: 2rem;
}

.contact-us {
  width: 100%;
  height: 120vh;
  display: flex;
  background: url("../img/back3.jpeg") no-repeat center center/cover;
  /* position: relative; */
}

.contact-text {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bolder;
  font-size: 2em;
  width: 50%;
  opacity: 0.5;
}
.contact-form {
  background-color: var(--primary-color);
  padding: 10%;
  width: 50%;
  color: white;
  /* border-bottom-right-radius: 300px; */
}
input[type="text"] {
  padding: 20px;
  width: 80%;
}

.contact-form textarea {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
}

@media (max-width: 600px) {
  .logo {
    text-align: center;
  }
  .links {
    display: none;
  }
  .icon {
    display: block;
    padding: 20px;
    color: var(--primary-color);
  }
  #overlay {
    height: 72%;
  }

  .show-case-content {
    font-size: 0.8rem;
  }
  .btn-lg {
    padding: 10px;
    font-size: 1rem;
  }
  .desktop-btn {
    display: none;
  }
  .mobile-btn {
    display: block;
  }
  .services {
    padding: 0;
  }
  .offers {
    display: block;
    padding: unset;
    height: 100%;
    background: none;
  }
  .offer-box {
    width: 100%;
    height: 30%;
  }
  .contact-us {
    display: block;
  }
  .contact-text {
    /* display: none; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .contact-form {
    width: 100%;
    border-radius: 0;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .box {
    display: block;
  }

  .box-photo {
    width: 100%;
    height: 300px;
  }
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
footer {
  height: 200px;
  background-color: var(--dark);
  color: var(--primary-color);
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icon {
  padding: 20px;
  color: var(--primary-color);
}
